---
---

// "Reset" styles and SCSS reusable components
@import "normalize";
@import "mixins";
@import "variables";

// Generic site base & layout styles
@import "base";
@import "layout";

// Layouts
@import "resume";

.collapsable {
    overflow: hidden;
}

.collapsable-container p {
    margin-block-end: 0.5em
}

.pubs p {
    margin-block-start:0.3em;
    margin-block-end:0.2em;
}

.authors {
    font-size: 16pt;
}

// .me {
//     font-weight: bold;
// }