<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="telephone" content="{{ site.resume_contact_telephone }}"/>
      <meta itemprop="address" content="{{ site.resume_contact_address }}"/>

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <!-- To display contact info here, change `display_header_contact_info` value in _config.yml to true -->
        {% if site.display_header_contact_info == 'true' %}
        <div class="header-contact-info">
          <p>{{ site.resume_header_contact_info }}</p>
        </div>
        {% endif %}

        <div class="title-bar no-print">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          {{ site.resume_header_intro }}
        </div>

        <!-- {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button no-print" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking no-print">I'm not looking for work right now.</a>
        {% else %}
        {% endif %} -->

      </header>

      {% assign news_count = site.data.news | size %}
      {% if news_count != 0 %} 
        <!-- begin News -->
        <section class="content-section">

          <header class="section-header">
            <h2>News</h2>
          </header>

          
            {% for news_item in site.data.news %}
            <div class="resume-item collapsable-container" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
              <h3 class="resume-item-title" itemprop="name">{{ news_item.heading }}</h3>
              <p class="collapsable">{{ news_item.content }}</p>
            </div>
            {% endfor %}
      

        </section>
        <!-- end News -->
      {% endif %}

      {% assign pub_count = site.data.publications | size %}
      {% if pub_count != 0 %} 
        <!-- begin Publication -->
        <section class="content-section">

          <header class="section-header" id="publications">
            <h2>Publications</h2>
          </header>

            {% for pub in site.data.publications %}
            <div class="resume-item pubs" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
              <h3 class="resume-item-title" itemprop="name">{{ pub.title }}</h3>
              <p class="authors">{{ pub.authors }}</p>
              <p class="conference">{{ pub.conference }}, {{pub.year}}</p>
              <p class="links"> 
                {% for link in pub.links %}
                  {% unless forloop.first %}
                   ⋅ 
                  {% endunless %}
                  <a class="link" href={{link.url}}> {{link.description}} </a>
                {% endfor %}
              </p>
            </div>
            {% endfor %}
      

        </section>
        <!-- end Publication -->
      {% endif %}

    {% assign soft_count = site.data.software | size %}
    {% if soft_count != 0 %} 
      <!-- begin Software -->
      <section class="content-section">

        <header class="section-header">
          <h2>Software</h2>
        </header>

          {% for soft in site.data.software %}
          <div class="resume-item pubs" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
            <h3 class="resume-item-title" itemprop="name">{{ soft.name }}</h3>
            <p> {{soft.description}}</p>
            <p> You can find {{ soft.name }} at the following <a href="{{soft.url}}">link</a></p>
          </div>
          {% endfor %}
    

      </section>
      <!-- end Software -->
    {% endif %}

      {% if site.resume_print_social_links %}
      <!-- begin Print Social Links -->
      <section class="content-section print-only">

        <header class="section-header">
          <h2>Social Links</h2>
        </header>

        <div class="resume-item">
        {% include print-social-links.html %}
        </div>

      </section>
      <!-- end Print Social Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
        <p class="footer-line">If this is your live resume, you can modify or remove this part. ;-)</p>
      </footer>

    </div>

  </body>

</html>
